---
import Link from '../components/Link.astro';
---

<main id="Home" class="home">
    <Link
      isButton
      isBold
      isGreen
      isSmokedGreen
      pushedRight
      shadowEffect
      target="_blank"
      href="www.linkedin.com/in/efren-anastacio"
      title="Link hacia el perfil de LinkedIn de Efren Anastacio"
    >
      Disponible para trabajo
      <span class="emoji">👋🏽</span>
    </Link>
    <div class="hero">
      <p class="hello-text">Hola, soy</p>
      <h1 class="my-name">Efrén Anastacio.</h1>
      <h2 class="profession">Desarrollador <span>Full Stack.</span></h2>
      <p class="experience-text">
        Con 2 años de experiencia en la
        creación de sitios y aplicaciones dinámicas y responsivas, mi enfoque se
        centra en combinar un diseño atractivo con una funcionalidad robusta,
        utilizando tecnologías modernas como <span class="text-green">
          <strong> HTML5</strong></span
        >, <span class="text-green"> <strong>CSS3</strong> </span>, <span
          class="text-green"
        >
          <strong> JavaScript</strong></span
        > y frameworks como <span class="text-green">
          <strong> React</strong></span
        >.
      </p>
    </div>
    <div class="links-container">
      <Link
        target="_blank"
        href="mailto: histrix.dev@gmail.com?subject=Hola%20Efren%20me%20encantaria%20integrarte%20a%20mi%20equipo."
        title="Correo personal de Efren de Anastacio Simeon"
        isBold
        isBordered
        isWhite
      >
        histrix.dev@gmail.com
      </Link>

      <Link
        isButton
        isSmokedGreen
        isGreen
        isBold
        shadowEffect
        target="_blank"
        href="https://drive.google.com/file/d/1pHBdOVmlMn6MmO_VzrRfm4-OxCpkd476/view?usp=drive_link"
        title="Descargar Resumen"
      >
        Resumen
        <span class="emoji"> ✍🏽 </span>
      </Link>
    </div>
</main>

<style>
  .home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    height: 100vh;
    padding: 2rem;
  }

  .hello-text {
    display: block;
    font-size: clamp(var(--text-md), 1.6rem, var(--text-large));
    font-weight: 600;
  }

  .my-name {
    font-size: clamp(5rem, 19vw, 12rem);
  }

  .profession span {
    color: var(--orange-color);
  }

  .experience-text {
    font-family: var(--font-texts);
    font-size: clamp(var(--text-md), 2vw, 20px);
    text-wrap: pretty;
    margin-top: 4rem;
  }

  .links-container {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    width: 100%;
  }

  @media (min-width: 480px) {
    .links-container {
      flex-direction: row;
      justify-content: end;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .emoji {
    padding-left: 0.5rem;
    font-size: var(--text-large);
  }
</style>
