---
import Link from '../components/Link.astro';
import SkillsCarrousel from '../components/SkillsCarrousel.astro';
---

<main id="Home" class="home section-padding">
  <div class="links-container">
    <Link
      isButton
      isSmokedGreen
      isGreen
      isBold
      shadowEffect
      target="_blank"
      href="https://drive.google.com/file/d/1pHBdOVmlMn6MmO_VzrRfm4-OxCpkd476/view?usp=drive_link"
      title="Descargar Resumen"
    >
      Resumen
      <span class="emoji"> ✍🏽 </span>
    </Link>
    <Link
        isButton
        isBold
        isGreen
        isSmokedGreen
        shadowEffect
        target="_blank"
        href="mailto: histrix.dev@gmail.com?subject=Hola%20Efren%20me%20encantaria%20integrarte%20a%20mi%20equipo."
        title="Correo personal de Efren de Anastacio Simeon"
      >
        Disponible para trabajo
        <span class="emoji">👋🏽</span>
      </Link>
  </div>
  <div class="hero">
    <p class="hello-text">Hola, soy</p>
    <h1 class="my-name">Efrén Anastacio.</h1>
    <h2 class="profession">Desarrollador <span>Full Stack.</span></h2>
    <p class="experience-text">
      Con 2 años de experiencia como desarrollador Fullstack me especializo en crear soluciones digitales que combinan un diseño intuitivo con un backend sólido y escalable. Domino tecnologías basadas en JavaScript y PHP para transformar ideas en aplicaciones funcionales, seguras y de alto rendimiento. Mi objetivo es construir experiencias web que resuelvan problemas y que a la vez inspiren confianza e innovación 🚀.
    </p>
  </div>
  <section class="container skills-section overflow-hidden">
    <SkillsCarrousel/>
  </section>
</main>

<style>
  .home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
    padding: 6rem 1rem;
    margin-top: 6rem;
  }
  
  @media(min-width: 768px) {
    .home {
      gap: 2.5rem;
      padding: 4rem 1rem;
    }
  }

  .hello-text {
    display: block;
    font-size: clamp(var(--text-md), 1.6rem, var(--text-large));
    font-weight: 600;
  }

  .my-name {
    font-size: clamp(5rem, 19vw, 12rem);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }

  .profession{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }

  .profession span {
    font-family: var(--font-titles);
    color: var(--accent-color);
  }

  .experience-text {
    font-family: var(--font-texts);
    font-size: clamp(var(--text-md), 2vw, 20px);
    text-wrap: pretty;
    margin-top: 4rem;
  }
  
  @media (min-width: 768px) {
    .experience-text {
      margin-top: 2rem;
    }
  }

  .links-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .emoji {
    padding-left: 0.5rem;
    font-size: var(--text-large);
  }

  .skills-section {
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
  }

  @media (min-width: 768px) {
    .skills-section {
      padding: 1.5rem 0;
      margin-top: 2rem;
    }
  }
</style>
