---
import BlurryRight from '../components/BlurryRightBackground.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<section id="projects" class="project__section">
  <h2 class="title-lg text-green brightness-100 text-center">
    Proyectos destacados <span>✨</span>
  </h2>
  <section class="projects__container">
    <ProjectCard />
  </section>
</section>
<style>
  .project__section {
    padding: 2rem 0;
  }

  .projects__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    padding: 4rem 0;
  }
</style>
