---
import WorkCard from '../components/WorkCard.astro';
import { getCollection } from 'astro:content';
import SectionTitle from '../components/SectionTitle.astro';
const works = await getCollection('work')
---

<section id="work" class="section-padding">
  <SectionTitle text="🤓 Grandes sueños, enormes experiencias"/>
  <section class="work__container">
    {
      works.map((work) => (
        <WorkCard
          work={work}
        />

      ))
    }
  </section>
</section>
<style>
  .work__container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 4rem;
    justify-content: center;
  }
</style>
