---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Mi Portafolio">
  <Header />
  <main>
    <h1>Mi Portafolio</h1>
  </main>
  <Footer />
</Layout>

<style>
  main {
    grid-area: main;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: var(--orange-peel);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
