---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import HomeSection from '../landing/Home.astro';
import ProjectsSection from '../landing/Projects.astro';
import WorkSection from '../landing/Work.astro';
import ContactSection from '../landing/Contact.astro';
---

<Layout title="Efren Anastacio">
  <Header />
  <main class="container">
    <HomeSection />
    <ProjectsSection />
    <WorkSection />
    <ContactSection />
  </main>
  <Footer />
</Layout>
<style>
  main {
    grid-area: main;
    padding: 1rem;
  }
</style>
