---
import Link from './Link.astro';
import Messenger from '../icons/Messenger.astro';
import WhatsApp from '../icons/WhatsApp.astro';
---

<nav>
  <Link
    href="#"
    target="_blank"
    title="WhatApp llamada o mensaje"
    rel="noopener noreferrer"
    isGreen
  >
    <WhatsApp />
    +52 442-129-1550
  </Link>
  <Link
    href="#"
    target="_blank"
    title="@efren.anastaciosimeon"
    rel="noopener noreferrer"
    isGreen
  >
    <Messenger />
    efren.anastaciosimeon
  </Link>
</nav>
<style>
  nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
</style>
