---
import MenuSocialMedia from './MenuSocialMedia.astro';
---

<footer>
  <MenuSocialMedia />
  <p class="copyright font-sm">
    2024 - Creado y desarrollado por Efrén Anastacio Simeón
  </p>
</footer>

<style>
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }

  footer p {
    font-weight: 600;
    text-align: center;
  }

  .copyright {
    color: var(--white-color);
    filter: brightness(55%);
    font-weight: 500;
  }

  .copyright a {
    color: var(--orange-color);
  }
</style>
