<footer>
  <p class="copyright font-sm">
    2024 - Creado y desarrollado por Efrén Anastacio Simeón
  </p>
</footer>

<style>
  footer {
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  footer p {
    font-weight: 600;
    text-align: center;
  }

  .copyright {
    color: var(--white-color);
    filter: brightness(55%);
    font-weight: 500;
  }

  .copyright a {
    color: var(--orange-color);
  }
</style>
