<footer>
  <p class="copyright font-sm">
    2024 Creado y desarrollado por <a
      href="https://github.com/EfrenAS/"
      title="GitHub de EfrenAS"
      target="_blank"
    >
      Efren Anastacio Simeon
    </a>
  </p>
</footer>

<style>
  footer {
    grid-area: footer;
    padding: 2rem;
  }

  footer p {
    text-align: center;
  }

  .copyright {
    color: var(--white-color);
    filter: brightness(55%);
    font-weight: 500;
  }

  .copyright a {
    color: var(--orange-color);
  }
</style>
