<div class="logo__mobile">
  <svg viewBox="0 0 27 37" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M20.584 33.216H14.8L13.96 36H10.36L16.168 19.2H19.216L25.024 36H21.424L20.584 33.216ZM19.744 30.456L17.704 23.736L15.64 30.456H19.744Z"
      fill="#2EC4B6"></path>
    <path
      d="M1.632 9.2H12.792V11.96H5.088V15.8H11.952V18.56H5.088V23.24H12.792V26H1.632V9.2Z"
      fill="#FF9F1C"></path>
  </svg>
</div>
<style>
  .logo__mobile {
    width: 5rem;
  }

  @media (min-width: 720px) {
    .logo__mobile {
      display: none;
    }
  }
</style>
