---
import Github from '../icons/Github.astro';
import Linkedin from '../icons/Linkedin.astro';

import Link from './Link.astro';
---

<nav class="social-media">
  <Link
    href="https://www.linkedin.com/in/efren-anastacio"
    title="@efren-anastacio"
    target="_blank"
    isGreen
  >
    <Linkedin />
  </Link>
  <Link
    href="https://github.com/EfrenAS"
    title="@EfrenAS"
    target="_blank"
    isGreen
  >
    <Github />
  </Link>
</nav>

<style>
  .social-media {
    display: flex;
    gap: 3rem;
  }

  .link {
    color: rgba(45, 196, 182, 40%);
    transition: all 0.2s ease-in;
  }

  .link:hover {
    color: var(--light-color);
    transform: translate(0px, -4px);
    outline: none;
  }
</style>
