---
import MenuLeft from "../icons/MenuLeft.astro";
---
<button class="menu-mobile">
  <MenuLeft class="menu-icon"/>
</button>
<style>
  .menu-mobile {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    color: var(--dark-green);
    transition: all 0.3s ease;
  }
  
  .menu-mobile:hover,
  .menu-mobile:active {
    transform: scale(1.1);
  }

  body.light__theme .menu-mobile {
    color: var(--dark-green);
  }

  @media (prefers-color-scheme: dark) {
    .menu-mobile {
      color: var(--light-green);
    }
  }
  body.dark__theme .menu-mobile {
    color: var(--light-green);
  }

  .menu-icon {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 600px) {
    .menu-mobile {
      display: none;
    }
  }

</style>
<script>
  const menuMobile = document.querySelector(".menu-mobile");

  if (!menuMobile) throw new Error("Menu mobile not found");

  const handleOnMenuMobileClick = () => {
    const navigation = document.querySelector("[aria-label='navigation']");

    if (!navigation) throw new Error("Navigation not found");
    navigation.classList.toggle("show-on");
  };

  menuMobile.addEventListener("click", handleOnMenuMobileClick);
</script>
