---
import MenuLeft from "../icons/MenuLeft.astro";
---
<button class="menu-mobile">
  <MenuLeft class="menu-icon"/>
</button>
<style>
  .menu-mobile {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    color: var(--dark-green);
    transition: all 0.3s ease;
  }
  
  .menu-mobile:hover,
  .menu-mobile:active {
    transform: scale(1.1);
  }

  body.light__theme .menu-mobile {
    color: var(--dark-green);
  }

  @media (prefers-color-scheme: dark) {
    .menu-mobile {
      color: var(--light-green);
    }
  }
  body.dark__theme .menu-mobile {
    color: var(--light-green);
  }

  .menu-icon {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 600px) {
    .menu-mobile {
      display: none;
    }
  }

</style>
<script>
  import { getHtmlElement } from "../scripts/getHtmlElement";

  const menuMobile = getHtmlElement({element: ".menu-mobile"});
  const bodyPage = getHtmlElement({element: "body"});

  const handleOnMenuMobileClick = () => {
    const navigation = getHtmlElement({element: "[aria-label='navigation']"});
    navigation.classList.toggle("show-on");
    bodyPage.classList.toggle("overflow-hidden");
  };

  menuMobile.addEventListener("click", handleOnMenuMobileClick);
</script>
