<nav>
  <a href="/home">Inicio</a>
  <a href="/projects">Proyectos</a>
  <a href="/skills">Conocimientos</a>
  <a href="/training">Formación</a>
  <a href="/Contact">Contacto</a>
</nav>
<style>
  nav {
    backdrop-filter: blur(5px);
    background-color: rgba(253, 255, 252, 10%);
    padding: 1rem 2rem;
    border-radius: 0.2rem;
  }

  nav a {
    position: relative;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 1rem;
    transition: all 0.5s ease;
  }

  nav a:hover {
    color: var(--light-color);
    font-weight: 600;
  }

  nav a:hover::after {
    content: '•';
    color: var(--orange-color);
    font-size: 1.6rem;
    position: absolute;
    bottom: -0.3rem;
    left: 40%;
    animation: 0.3s linear 0s alternate selected-ancle;
  }

  @keyframes selected-ancle {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
</style>
