---
import Link from './Link.astro';
---

<nav>
  <Link href="#home" title="Inicio" isWhite isBordered> Home </Link>
  <Link href="#projects" title="Proyectos" isWhite isBordered> Proyectos </Link>
  <Link href="#work" title="Experiencia" isWhite isBordered> Experiencia </Link>
  <Link href="#Contacto" title="'Contacto" isWhite isBordered> Contacto </Link>
</nav>
<style>
  nav {
    display: none;
  }

  /**** Media Queries ****/
  @media (min-width: 728px) {
    nav {
      display: flex;
      gap: 3rem;
    }
  }

  nav .white {
    color: var(--black-color);
  }

  /**** Dark Mode ****/
  @media (prefers-color-scheme: dark) {
    nav .white {
      color: var(--white-color);
    }
  }

  /**** Light Mode ****/
  @media (prefers-color-scheme: light) {
    nav .white {
      color: var(--black-color);
    }
  }

  nav .white {
    color: var(--black-color);
  }

  @keyframes selected-ancle {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
</style>
