---
import Link from './Link.astro';
import MenuMobileCloseButton from './MenuMobileCloseButton.astro';
---
<div aria-label="navigation" class="navigation">
  <MenuMobileCloseButton />
  <nav class="navbar">
    <Link href="#home" title="Inicio" isWhite isBordered mobileLink> Home </Link>
    <Link href="#projects" title="Proyectos" isWhite isBordered mobileLink> Proyectos </Link>
    <Link href="#work" title="Experiencia" isWhite isBordered mobileLink> Experiencia </Link>
    <Link href="#contact" title="'Contacto" isWhite isBordered mobileLink> Contacto </Link>
  </nav>
</div>

<style>
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(2, 22, 39, 50%);
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem;
    width: 100%;
    max-width: 32rem;
    height: 100%;
    background-color: var(--white-color);
  }

  .show-on {
    display: block;
    animation: slideIn 0.5s ease-in-out forwards;
  }

  @keyframes slideIn {
    from { 
      transform: translateX(-100%);
      opacity: 0;
    }
    to { 
      transform: translateX(0); 
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from { 
      transform: translateX(100%);
      opacity: 1;
    }
    to { 
      transform: translateX(0);
      opacity: 0;
    }
  }
  
  body.light__theme .navigation>nav {
    background-color: var(--white-color);
  }
  
  @media (prefers-color-scheme: dark) {
    .navigation>nav {
      background-color: var(--dark-color);
    }
  }

  body.dark__theme .navigation>nav {
    background-color: var(--dark-color);
  }

  .mobile-link {
   font-size: 3rem; 
  }

  /**** Media Queries ****/
  @media (min-width: 600px) {
    nav {
      gap: 3rem;
    }
  }
</style>
