<nav>
  <a href="/home">Inicio</a>
  <a href="/projects">Proyectos</a>
  <a href="/skills">Conocimientos</a>
  <a href="/training">Formación</a>
  <a href="/Contact">Contacto</a>
</nav>
<style>
  nav {
    backdrop-filter: blur(5px);
    background-color: rgba(253, 255, 252, 10%);
    padding: 1rem 2rem;
    border-radius: 0.2rem;
  }

  nav a {
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 1rem;
  }
</style>
