---
interface Props {
  text: string;
  isSmall?: boolean;
  isOrangeText?: boolean;
  pillPrimary?: boolean;
}

const { text, isSmall, isOrangeText, pillPrimary } = Astro.props;
---

<span class:list={[{ 'pill-sm': isSmall, 'text-orange': isOrangeText, 'pill-primary': pillPrimary }]}>
  {text}
</span>
<style>
  .pill-sm {
    font-family: var(--font-texts);
    font-size: var(--text-sm);
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 4rem;
  }

  .text-orange {
    color: var(--accent-color);
  }

  .pill-primary {
    background-color: transparent;
    backdrop-filter: blur(5px);
  }

  body.light__theme .pill-primary {
    background-color: transparent;
  }

  @media(prefers-color-scheme: dark) {
    .pill-primary {
      background-color: rgba(251, 251, 255, 10%);
    }
  }

  body.dark__theme .pill-primary {
    background-color: rgba(251, 251, 255, 10%);
  }

</style>
