---
interface Props {
  text: string;
  isSmall?: boolean;
  isOrangeText?: boolean;
}

const { text, isSmall, isOrangeText } = Astro.props;
---

<span class:list={[{ 'tag-sm': isSmall, 'text-orange': isOrangeText }]}>
  {text}
</span>
<style>
  .tag-sm {
    font-family: var(--font-texts);
    font-size: var(--text-sm);
    font-weight: 600;
    padding: 0.25rem 0.5rem;
  }

  .text-orange {
    color: var(--orange-color);
    filter: brightness(0.7);
  }
</style>
