---
interface Props {
  text: string;
  isSmall?: boolean;
  isOrangeText?: boolean;
  bgPrimary?: boolean;
}

const { text, isSmall, isOrangeText, bgPrimary } = Astro.props;
---

<span class:list={[{ 'tag-sm': isSmall, 'text-orange': isOrangeText, 'bg-primary': bgPrimary }]}>
  {text}
</span>
<style>
  .tag-sm {
    font-family: var(--font-texts);
    font-size: var(--text-sm);
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 4rem;
  }

  .text-orange {
    color: var(--orange-color);
  }

  .bg-primary{
    background-color: var(--dark-color);
  }
</style>
