---
const { text, isSmoked, isSmall, pushedToRight } = Astro.props;
---

<p
  class:list={[
    'pill',
    { smoked: isSmoked, small: isSmall, right: pushedToRight },
  ]}
>
  {text}
</p>
<style>
  .pill {
    color: var(--light-color);
    border-radius: 3px;
    font-family: var(--font-texts);
    font-size: clamp(var(--text-sm), 10vw, 30px);
    font-weight: 600;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: fit-content;
  }

  .smoked {
    backdrop-filter: blur(5px);
    background-color: rgba(46, 196, 182, 10%);
  }

  .small {
    font-size: var(--text-sm);
  }

  .right {
    margin-left: auto;
  }
</style>
