---
import Link from './Link.astro';
import Pill from '../components/Pill.astro';
import GithubIcon from '../icons/Github.astro';
import LinkIcon from '../icons/Link.astro';

import { Image } from 'astro:assets';
import cafeteando from '../assets/blog_cafe.png';
---

<div class="project__card">
  <div class="card--image">
    <Image
      src={cafeteando}
      alt="A image of screen capture of Cafeteando Webpage"
    />
  </div><!-- .card--image -->
  <div class="card--text">
    <h3 class="text-green">Título del projecto</h3>
    <p class="project__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae iure
      laborum dolorem, eveniet, iusto consequuntur doloremque nihil quod numquam
      omnis ratione harum est nostrum maiores perspiciatis atque.
    </p>
    <div class="tags__container">
      <Pill text="HTML" isSmall isOrangeText />
      <Pill text="CSS" isSmall isOrangeText />
      <Pill text="JavaScript" isSmall isOrangeText />
    </div>
    <div class="project__links">
      <Link
        href="#"
        target="_blank"
        title="Link to GitHub del proyecto"
        isGreen
      >
        <GithubIcon />
      </Link>
      <Link href="#" target="_blank" title="Link to Web del proyecto" isGreen>
        <LinkIcon />
      </Link>
    </div>
  </div><!-- .card--text -->
</div>

<style>
  .project__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 120rem;
  }

  @media (min-width: 600px) {
    .project__card {
      position: relative;
      width: 90%;
    }
  }

  @media (min-width: 1400px) {
    .project__card {
      width: 80%;
    }
  }

  .card--image {
    width: 100%;
  }

  @media (min-width: 600px) {
    .card--image {
      width: 80%;
      max-width: 80rem;
    }
  }

  .card--image img {
    aspect-ratio: 3/2;
    filter: grayscale(0.6) brightness(0.6);
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: all 0.5s ease-out;
  }

  .card--image:hover img {
    filter: grayscale(0) brightness(1);
  }

  .card--text {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    background-color: rgba(2, 22, 39, 70%);
    border-radius: 0.2rem;
    margin-top: -8%;
    padding: 1rem;
    text-wrap: pretty;
  }

  .project__card:nth-child(odd) .card--text {
    text-align: right;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(46, 194, 179, 0.32);
    -moz-box-shadow: 3px 3px 0px 0px rgba(46, 194, 179, 0.32);
    box-shadow: 3px 3px 0px 0px rgba(46, 194, 179, 0.32);
  }

  @media (min-width: 480px) {
    .card--text {
      max-width: 45rem;
      width: 90%;
    }

    .project__card:nth-child(odd) .card--text {
      margin-top: -4rem;
      margin-left: 8%;
    }
  }

  @media (min-width: 720px) {
    .project__card:nth-child(odd) .card--text {
      margin-left: 25%;
      margin-top: -15rem;
    }
  }

  @media (min-width: 900px) {
    .card--text {
      position: absolute;
    }

    .project__card:nth-child(odd) .card--text {
      margin: 0;
      top: 24%;
      right: 0%;
    }
  }

  .project__description {
    font-size: var(--text-md);
  }

  .project__links {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }

  .project__card:nth-child(odd) .project__links {
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    .project__description {
      font-size: var(--text-normal);
    }
  }
</style>
