---
import '../styles/normalize.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head><body>
    <title>{title}</title>
  </body>
  <slot />
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  :root {
    /* Main Colors for this project */
    --baby-powder: #fdfffc;
    --rich-black: #021627;
    --light-sea-green: rgba(46, 196, 182, 100%);
    --caribbean-current: rgba(25, 97, 90, 100%);
    --red-pantone: #e71d36;
    --orange-peel: #ff9f1c;

    --white-color: var(--baby-powder);
    --dark-color: var(--rich-black);
    --red-color: var(--red-pantone);
    --orange-color: var(--orange-peel);

    /*Dark Theme */
    --light-green: var(--light-sea-green);

    /* Light Theme */
    --dark-green: var(--caribbean-current);

    /* Font Types */
    --font-titles: Sarabun, sans-serif;
    --font-texts: Manrope, sans-serif;

    /* Text Size */
    --text-sm: 1.2rem;
    --text-md: 1.4rem;
    --text-normal: 1.6rem;
    --text-large: 2rem;
    --text-xl: 2.4rem;

    /* Media Queries */
    --d-small: 480px;
    --d-medium: 900px;
    --d-large: 1024px;
    --d-xlarge: 1440px;

    /* Scheme Color */
    color-scheme: light dark;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 1.6rem;
    display: grid;
    height: 97vh;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-rows: 10rem 1fr 8rem;
  }

  body.dark__theme {
    background-color: var(--dark-color);
    color: var(--white-color);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-titles);
    color: var(--white-color);
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: var(--white-color);
    }
  }

  body.light__theme a {
    color: var(--dark-color);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-titles);
    margin: 0;
  }

  h2 {
    font-size: clamp(20px, 3vw, 35px);
    filter: opacity(65%);
  }

  p {
    font-family: var(--font-texts);
    line-height: 1.5;
    margin: 0;
  }

  img,
  picture {
    max-width: 100%;
    width: 100%;
  }

  /** GLOBAL STYLES **/

  .section-padding {
    padding: 4rem 2rem;
  }

  /** Size Font **/
  .font-sm {
    font-size: 1.2rem;
  }

  /* Container */
  .container {
    margin: 0 auto;
    max-width: 1400px;
  }

  .text-light {
    color: var(--light-color);
  }

  .push-right {
    margin-left: auto;
  }

  /**** DARK THEME  ****/
  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark-color);
      color: var(--white-color);
    }

    body.light__theme {
      background-color: var(--white-color);
      color: var(--dark-color);
    }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const colorThemePreference = setColorSchemePreference();

    localStorage.setItem('theme', colorThemePreference);

    if (colorThemePreference === 'light') {
      document.body.classList.add('light__theme');
    }
  });

  function setColorSchemePreference() {
    if (
      window.matchMedia &&
      window.matchMedia('(prefers-color-scheme: dark)').matches
    ) {
      return 'dark';
    } else {
      return 'light';
    }

    return 'no-preference';
  }
</script>
